.hidden {
    display: none;
}

h1 {
    font-family: poppins;
    font-size: 128px;
    font-weight: 600;
    color: white;
}

h2 {
    font-family: poppins;
    font-size: 48px;
    font-weight: 600;
    color: white;
}

h3 {
    font-family: poppins;
    font-size: 24px;
    font-weight: 600;
    color: white;
}

p {
    font-family: poppins;
    font-size: 16px;
    font-weight: 400;
    color: white;
}

ul {
    display: inline-flex;
}

button {
    font-family: poppins;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 48px;
}

.bg {
    background-image: url('/img/bg.png');
    background-size: cover;
    background-position: center;
    height: 900px;
}

#logo {
    margin-top: 32px;
}

#dashboard-text {
    margin-top: 54px;
    text-align: right;
}

#about-text {
    margin-top: 54px;
    text-align: right;
}

.video-container {
    position: relative;
    height: 352px;
    overflow: hidden;
    border-radius: 16px;
    margin-top: 32px;
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

#addbox {
    /* UI Properties */
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 16px;
    opacity: 1;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    margin-top: 32px;
    height: 160px;
}