h1 {
    font-family: poppins;
    font-size: 128px;
    font-weight: 600;
}

h2 {
    font-family: poppins;
    font-size: 48px;
    font-weight: 600;
}

h3 {
    font-family: poppins;
    font-size: 24px;
    font-weight: 600;
}

p {
    font-family: poppins;
    font-size: 16px;
    font-weight: 400;
}

button {
    font-family: poppins;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 48px;
}
